/* 
declaration block::after
selector{
    property: value;
    property2: value;
}

*/

body{
    background-color: cyan;
    color: maroon;
    text-align: center;
    font-size: 20px;
}
/* body is used to style the main content area */
nav{
height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}
/* nav is used to style the navigation area */
footer{
    text-align: center;
    margin-right: 200px;
}
/* footer is used to style the footer area */
.CodeMeme{
    margin-right: 200px;
    width: 100px;
    height: 100px;
}
/* CodeMeme is used to style the CodeMeme imageelements */
h1{
    text-align: center;
}
/* h1 is used to style the main heading */